<%= form_for @user, url: login_path do |f| %>

    <%= f.label :id, "Username:" %><br>
   <%= f.text_field :username %><br>
    <br>
    <%= f.label :password, "Password:" %><br>
   <%= f.password_field :password %><br><br>

   <p><%= link_to('Log in with Github!', '/auth/github') %></p>
   
    <%= f.submit "Sign In" %>
   <% end %>