<p>Welcome <%= @user.username %></p>

<p><%= link_to 'See Courses', courses_path %></p>
<p><%= link_to 'Add Course', new_course_path %></p>
<p><%= link_to 'See Textbooks', textbooks_path %></p>
<p><%= link_to 'Add Textbook', new_textbook_path %></p>